[Unit]
Description=TimeVox Phone System
After=network-online.target sound.target alsa-state.service
Wants=network-online.target
Requires=sound.target

[Service]
Type=simple
User=root
Group=root

# Dossier de travail réel
WorkingDirectory=/home/timevox/timevox/timevox

# Définir un HOME isolé (évite les erreurs d'accès à /home/didtho/.xxx)
Environment=HOME=/root

# Variables spécifiques audio pour pygame
Environment=SDL_AUDIODRIVER=alsa
Environment=ALSA_DEVICE=hw:0,0
Environment=PYTHONUNBUFFERED=1
Environment=PATH=/home/timevox/timevox_env/bin:/usr/local/bin:/usr/bin:/bin

# Attente pour être sûr que l'audio est prêt
ExecStartPre=/bin/sleep 10
ExecStartPre=/bin/bash -c 'for i in {1..10}; do aplay -l >/dev/null 2>&1 && break || sleep 2; done'

# Lancement du script Python
ExecStart=/home/timevox/timevox_env/bin/python3 /home/timevox/timevox/timevox//main.py

# Redémarrage automatique en cas d'erreur
Restart=always
RestartSec=5

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
